.gradient-background {
    /*background: linear-gradient(300deg, #00bfff, #097969, #AFE1AF);*/
    background-image: url("./background-index.jpg");
    background-size: 100% 180%;
    /*animation: gradient-animation 18s ease infinite;*/
  }
.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: 0.75rem;
}


